import {Route, DefaultRoute} from 'react-router'

import App from 'app'
import Screencasts from 'pages/screencasts'

Route(name='root' handler=App path=props.base)
  DefaultRoute(name='screencasts' path='/' handler=Screencasts)
